-e git+git://github.com/nicolewhite/authomatic.git#egg=authomatic
Distance==0.1.3
Flask-HTTPAuth==2.3.0
Flask-Session==0.1.1
Flask==0.10.1
Jinja2==2.7.3
mandrill==1.0.57
MarkupSafe==0.23
Werkzeug==0.9.6
amqp==1.4.6
anyjson==0.3.3
apache-log-parser==1.4.0
astroid==1.3.4
awscli==1.7.18
billiard==3.3.0.19
boto==2.36.0
certifi
celery==3.1.17
enum34==1.0.4
eventlet==0.15.2
flask-googlemaps==0.1.9
fuzzywuzzy==0.8.0
google-api-python-client==1.3.2
greenlet==0.4.5
gunicorn==17.5
isoweek==1.3.0
itsdangerous==0.24
kombu==3.0.24
logilab-common==0.63.2
nameparser==0.3.4
ndg-httpsclient==0.4.0
numpy==1.9.2
oauth2client==1.4.6
paramiko==1.10.0
parse-type==0.3.4
parse==1.6.6
passlib==1.6.2
py-bcrypt==0.4
py2neo==2.0.6
pyasn1==0.1.8
pycrypto==2.6.1
pyOpenSSL==0.15.1
python-dateutil==2.4.0
python-Levenshtein==0.12.0
pytz==2013.7
requests==2.7.0
six==1.9.0
virtualenv==12.0.5
wsgiref==0.1.2
geoip2==2.1.0
